/** {*/
/*    margin: 0;*/
/*    box-sizing: border-box;*/
/*}*/

.page {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    margin: 16px auto;
    padding: 23px 16px;
    text-align: center;
    background-color: white;
    width: 20%;
    height: fit-content;
    position: relative;
    border-radius: 5px;
    border: 1px lightgray solid;
    display: block;
    align-items: center;
    justify-content: space-around;
}

.login-form{
    text-align: left;
}

.login-pfp{
    border-radius: 50%;
    width: 40%;
    text-align: center;
}

.form-input-field{
    margin-left: 0px;
}

.login-button{
    margin-top: 36px;
    width: 15.45em;
    background-color: #f16724 !important;
    color: white !important;
}

/*input {*/
/*    border: none;*/
/*    !*background-color:*!*/
/*    width: 80%;*/
/*    border-radius: 0.25em;*/
/*    text-align: center;*/
/*    padding: 2em;*/
/*    font-size: 0.75em;*/
/*}*/

/*input:focus {*/
/*    outline-color: coral;*/
/*}*/

/*.text {*/
/*    position: relative;*/
/*    bottom: 0.5%;*/
/*}*/

/*.hide {*/
/*    position: absolute;*/
/*    transform: scale(0);*/
/*}*/

/*.login-button {*/
/*    width: 40%;*/
/*    height: 3em;*/
/*    background-color: coral;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    transition: 0.5s;*/
/*    border-radius: 0.25em;*/
/*    cursor: pointer;*/
/*}*/

/*.login-buttonn:hover {*/
/*    transform: scale(1.25);*/
/*}*/

