.register-container {
    margin: 16px auto;
    padding: 23px 16px;
    text-align: center;
    background-color: white;
    width: 45%;
    height: fit-content;
    position: relative;
    border-radius: 5px;
    border: 1px lightgray solid;
    display: block;
    align-items: center;
    justify-content: space-around;
}

.register-icon {
    border-radius: 50%;
    width: 40%;
    text-align: center;
}


label{
    text-align: left;
    display: flex !important;
    margin-top: 20px;
    flex-direction: column;
}

label > input{
    margin-left: 0px !important;
    width: 100%;
    height: 30px;
}

.address-row {
    width: 482px;
}

.horizontal-row{
    display: flex;
    flex-direction: row;
}

.horizontal-row > label:nth-child(1){
    width: 50%;
    margin-right: 2.5%;
}

.horizontal-row > label:nth-child(2){
    width: 50%;
    margin-left: 2.5%;
}

.error {
    color: orangered;
}