
main {
  background-color: #f6f9fc;
}

ul {
  list-style-type: none;
}

.footer-container{
  display: flex;
  width: 100%;
  background-color: #183466;
  /*background-color: #005999;*/
  color: #f16724;
}

.footer-container div{
  flex-basis: 33%;
}

.footer-container div:first-child{
  margin-left: 10px;
}

.divider{
  border-top: 0px solid #bbb;
  width: 50%;
  margin-left: 0px;
}
