

body {
   font-family: "Poppins", sans-serif;
}

.outer-container {
   margin: 16px auto;
   padding: 23px 16px;
   text-align: center;
   background-color: white;
   width: 45%;
   height: fit-content;
   position: relative;
   border-radius: 5px;
   border: 1px lightgray solid;
   display: block;
   align-items: center;
   justify-content: space-around;
}


form {
   display: flex;
   flex-direction: column;
}

label {
   display: block;
   margin-top: 20px;

}

input   {
   margin-left: 10px;
   border: solid 1px #999;
   width: 15em;
}


.inner-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

}

input {
   height:30px;
}



