.admin {
    margin-left: 40px;
    margin-right: 20px;
    overflow: auto;
}

.admin-container {
    height: 100%;
}

tbody, td {
    position: relative;
}

table, td, th {
    border: 1px solid darkcyan;
}

th {
    background-color: #f16724;
    color: white;
    text-align: left;
}

td, th {
    padding: 8px;
}

td > img {
    width: 60px;
    border-radius: 50%;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
    overflow: hidden;
}

.table-date {
    min-width: 100px;
}

.let-op {
    color: red;
}








